/* Container */
.container  {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
  }
  
  /* Form */
  form  {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  /* Form Fields */
  form > * {
    margin-bottom: 20px;
    width: 100%;
    max-width: 400px;
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }
  
  form input,
  form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    font-size: 16px;
  }
  
  form input:focus,
  form textarea:focus {
    outline: none;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
  }
  
  form textarea {
    resize: vertical;
    min-height: 100px;
  }
  
  /* Submit Button */
  form button[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    background-color: #9b4dca;
    color: #9b4dca;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px 10px #9b4dca;;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  form button[type="submit"]:hover {
    transform: translateY(-2px);
    box-shadow: 0 7px 14px  #9b4dca;
  }
  
  /* Form Animation */
  form:before {
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    background: linear-gradient(45deg, #666, #333);
    opacity: 0.3;
    z-index: -1;
    transition: opacity 0.5s ease-in-out;
  }
  
  form:after {
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    background: linear-gradient(45deg, #333, #666);
    opacity: 0;
    z-index: -2;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    transform: scaleX(0.8) scaleY(0.6);
  }
  

  form:focus:before {
    opacity: 0.5;
  }
  
  form:focus:after {
    opacity: 1;
    transform: scaleX(1) scaleY(1);
  }
  